* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #566885;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E9E6E6;
}

#root {
  width: 100%;
}